header{
	border-bottom: 1px solid #ebebeb;
	height: 88px;
	position: relative;
	margin-bottom: 50px;
	.mobile-nav{
		display: none;
	}
	&.fixed{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 25;
		background: #fff;
	}
	h1{
		float: left;
		height: 100%;
		width: 25px;
		height: 34px;
		display: block;
		margin: 0 2%;
		margin-top: 28px;
		a{
			width: 25px;
			height: 34px;
			display: block;	
			margin: 0 auto;		
		}
	}
	.user-info{
		display: block;
		float: left;
		height: 100%;
		padding-right: 90px;
		p{
			display: block;
			color: $preto;
			text-align: left;
			&.top{
				color: $cinza;
				padding-top: 25px;
				font-family: $trade;
				font-size:12px;
				font-weight: 100;
				text-transform: uppercase;
				padding-bottom: 5px;
			}
			&.info{
				span{
				font-family: $trade;
				font-size:12px;
				font-weight: 100;
				text-transform: uppercase;	
				color: $cinza;				
				}
			}
		}
	}


	.badge-preview{
		position: absolute;
		right: 0;
		top: 0;
		height: 88px;
		background: #00558c;
		width: 250px;
		color: #fff;
		font-size: 18px;
		z-index: 9;
		ul.badge-list{
			display: none;

				transition: opacity .25s ease-in-out;
				-moz-transition: opacity .25s ease-in-out;
				-webkit-transition: opacity .25s ease-in-out;
		}
		.right{
			width: 40px;
			height: 40px;
			background: #fff;
			-webkit-border-radius: 50%; 
			-moz-border-radius: 50%; 
			border-radius: 50%; 
			display: block;
			margin: 0 auto;
			text-align: center;
			line-height: 40px;
			font-size: 17px;
			position: absolute;
			right: 20px;
			top: 24px;
			z-index: 10;
			background: #fff;
			display: none;
			i{
				margin-left: 3px;
				color: #00558c;
			}
		}
		.top{
			padding-top: 29px;
				color: #fff;
				font-family: $trade;
				font-size:12px;
				font-weight: 100;
				text-transform: uppercase;
				padding-bottom: 5px;
		}
		.count{
			width: 25px;
			height: 22px;
			display: block;
			background: url(../images/mala.png);
			position: relative;
			text-align: center;
			float: left;
			margin: 40px 20px 21px 45px;
			span{
				width: 21px;
				height: 21px;
				background: $vermelho;
				border-radius: 50%;
				color: #fff;
				display: block;
				position: absolute;
				top: -11px;
				right:-11px;
				text-align: center;
				font-size: 12px;
				line-height: 22px;
				font-family: $trade;
			}
		}
		&.opened{
			//width: 408px;
			.right{
				display: block;
			}
			.top{
				visibility: hidden;
			}
			ul.badge-list{
			    position: absolute;
			    top: 88px;
			    left: 0;
			    background: url(../images/bg-badge.jpg) #00558c repeat ;
			    width: 408px;
				border-top: 1px solid #1a6698;
				// padding-bottom: 200px;
				height: 100%;
				// display: block;
				.scroll-pane{
					height: 350px;
					position: relative;
					&::after{
						content: '';
						background: rgba(255,255,255,0);
						background: -moz-linear-gradient(top, rgba(255,255,255,0) 16%, rgba(0,85,141,1) 76%);
						background: -webkit-gradient(left top, left bottom, color-stop(16%, rgba(255,255,255,0)), color-stop(76%, rgba(0,85,141,1)));
						background: -webkit-linear-gradient(top, rgba(255,255,255,0) 16%, rgba(0,85,141,1) 76%);
						background: -o-linear-gradient(top, rgba(255,255,255,0) 16%, rgba(0,85,141,1) 76%);
						background: -ms-linear-gradient(top, rgba(255,255,255,0) 16%, rgba(0,85,141,1) 76%);
						background: linear-gradient(to bottom, rgba(255,255,255,0) 16%, rgba(0,85,141,1) 76%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00558d', GradientType=0 );
						bottom: 0px;
						left: 0;
						position: absolute;
						display: block;
						z-index: 9999;
						height: 50px;
						width: 100%;
					}
				}
				a.btns{
					width: 50%;
					height: auto;
					text-align: center;
					color: #fff;
					font-family: $trade;
					text-transform: uppercase;
					font-size: 15px;
					font-weight: bold;
					position: absolute;
					bottom:0;
					padding: 33px 0;
					&.total{
						background: #004470;
						left: 0;
						font-size: 13px;
						
						span{
							font-family: $opensans;
							text-transform: none;
							font-size: 18px;
							color: #78b4c3;
							font-weight: 400;
							padding-top: 5px;
						}
					}
					&.checkout{
						background: #78b4c3;
						right: 0;
						font-size: 13px;

						span{
							font-family: $opensans;
							text-transform: none;
							font-size: 18px;
							font-weight: 400;
							padding-top: 5px;
						}
					}
				}
				li{
					border-bottom: 1px solid #1a6698;
					background:#00548D;
					position: relative;
					.img{
						background: #004470;
						width: 20%;
						float: left;
						margin:5% 0 5% 5%;
						.content{
							height: 100%;
							text-align: center;
							>div{
								display:table;
								text-align: center;
								height: 100%;
								>span{
									display: table-cell;
									vertical-align: middle;
									img{
										max-width: 50%;
									}
								}
							}
						}
					}
					.infos{
						width: 60%;
						float: left;
						margin:5% 0 5% 0;
						p{
							color: #fff;
							font-size: 16px;
							font-weight: 400;
							padding: 5px 20px;
							span{
								font-weight: 100;
								color: #7facc9;
								font-size: 14px;
								font-style: italic;
							}
						}
					}
					.remove{
						position: absolute;
						top: 20%;
						right:5%;
						color: #78b4c3;
						&:hover{
							color: #fff;
						}
					}
					.edit{
						position: absolute;
						bottom: 20%;
						right:5%;
						font-size: 15px;
						color: #78b4c3;
						&:hover{
							color: #fff;
						}
					}
					&:last-child{
						margin-bottom: 50px;
					}
				}
			}
		}
	}
}

.intro-screen{
	height: 700px;
	overflow: hidden;
	display: none;
	a.arrow-down{
		width: 145px;
		height: 145px;
		background: url('../images/arrow-down.png');
		display: block;
		position: absolute;
		bottom: 10%;
		right:-72px;
		z-index: 999999;
	}
	.left{
		width: 50%;
		float: left;
		height: 100%;
		position: relative;
		.display-table{
			display: table;
			height: 100%;
		}
		.display-table-cell{
			display: table-cell;
			vertical-align: middle;
		}
		.over-screen{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1000;
			.bg{
				background: #11518e;
				opacity: 0.8;
				width: 100%;
				height: 100%;
			}
			.content{
				position: absolute;
				width: 80%;
				height: 100%;
				top: 0;
				left: 10%;
				z-index: 1;
				color: #fff;
				h3{
					margin-bottom: 60px;
					img{
						float: left;
					}
						text-align: right;
						font-style: italic;
						color: #79b9de;
						font-size: 18px;
						> span{
							color: #fff;
						}
					
				}
				p{
					line-height: 46px;
					font-size: 28px;
					font-weight: 100;
					padding-bottom: 40px;
					> span{
						background: #00b0ca;
						padding: 0 10px;
						border-radius: 5px;
						font-weight: 100;
						@include inline-block;
						margin: 5px 5px;
					}
				}
			}
		}
		.slider-container{
			width: 100%;
			height: 100%;
			.slide-one{
				width: 100%;
				height: 100%;
				overflow: hidden;
				background-size: cover;
			}
		}
	}
	.right{
		width: 50%;
		float: left;
		height: 100%;
		.slider-container{
			width: 100%;
			height: 100%;
			.slide-two{
				width: 100%;
				height: 100%;
				overflow: hidden;
				background-size: cover;
			}
		}
	}
}

@media(max-width: 1170px){
	header{
		margin-bottom: 0;
	}
	.intro-screen{
		height: 450px;
		a.arrow-down{
			right: 50%;
			margin-right: -72px;
		}
		

		.right{
			display: none;
		}
		.left{
			width: 100%;
			float: none;
			.over-screen{
				.content{
					p{
						font-size: 19px;
						line-height: 25px;
						padding-bottom: 20px;
						span{
							margin: 3px;
						}
					}					
				}

			}
		}
	}
}

@media (max-width: 768px){
	header{
		position: fixed;
	    top: 0;
	    z-index: 999999;
	    left: 0;
	    width: 100%;
	    height:63px !important;
	    h1{
	    	display: none;
	    }
	    .user-info{
	    	display: none;
	    }
	    .badge-preview{
	    	width: 100% !important;
	    	height: 63px !important;
	    	.right{
				right: 2%;
				top: 11px;
	    	}
	    	.top{
				display: none;
	    	}
	    	.info{
				display: none;
	    	}
	    	.count{
				float: none;
				position: absolute;
				right: 20px;
				top: 20px;
				margin: 0;
	    	}

	    	&.opened{
	    		.count{
	    			display: none;
	    		}
		    	ul.badge-list{
		    		top:63px !important;
		    		width: 100% !important;
		    		left: 100%;
		    	}
	    		ul.badge-list{
	    			li{
	    				.img{
							width: 15%;
							margin: 2% 0 2% 2%;
	    				}
	    				.infos{
							margin: 2% 0 2% 0;
							p{
							    padding: 5px 12px;
							    font-size: 14px;
							}
	    				}
	    			}
	    		}
	    	}
	    }
	    .mobile-nav{
	    	display: block;
	    	text-align: center;
	    	img{
	    		width: 156px;
	    		margin-top: 14px;
	    	}
	    	.search-mobile{
	    		width: 22px;
	    		height: 23px;
	    		background: url(../images/search-mobile.png);
	    		display: block;
	    		position: absolute;
	    		top: 20px;
	    		left: 20px;
	    	}
	    }
	}
	.intro-screen{
		.left{
			h3{
				display: none;
			}
		}
	}
}